# Data Preprocessing 

# 1. Splitting the data into training and testing stets

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("/content/USA_Housing.csv")

In [5]:
df.shape

(5000, 7)

In [6]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

Dependent Variable = 'Price'

Independent Variables = 'Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Avg. Area Number of Bedrooms', 'Area Population'

Variable not in use = 'Address'

In [7]:
X = df.iloc[:,:5]
y = df.iloc[:,5]

In [8]:
X

      Avg. Area Income  ...  Area Population
0         79545.458574  ...     23086.800503
1         79248.642455  ...     40173.072174
2         61287.067179  ...     36882.159400
3         63345.240046  ...     34310.242831
4         59982.197226  ...     26354.109472
...                ...  ...              ...
4995      60567.944140  ...     22837.361035
4996      78491.275435  ...     25616.115489
4997      63390.686886  ...     33266.145490
4998      68001.331235  ...     42625.620156
4999      65510.581804  ...     46501.283803

[5000 rows x 5 columns]

In [9]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 101)

# 2. Standerdaztion 

Standardization is the process of putting different variables on the same scale. In regression analysis, you need to standardize the independent variables when your model contains polynomial terms to model curvature or interaction terms. These terms provide crucial information about the relationships between the independent variables and the dependent variable, but they also generate high amounts of multicollinearity.

Multicollinearity refers to independent variables that are correlated. This problem can obscure the statistical significance of model terms, produce imprecise coefficients, and make it more difficult to choose the correct model.

ref : https://statisticsbyjim.com/regression/standardize-variables-regression/

In [15]:
SC = StandardScaler()

X_train = SC.fit_transform(X_train)

X_test = SC.transform(X_test)

In [16]:
X_train

array([[ 0.34529318, -0.84306952,  0.57820121, -0.37429069, -1.75053875],
       [-0.18466794, -0.276508  , -0.07456069, -0.45561391, -0.82511745],
       [ 0.92874457, -1.77295774,  0.48319053,  1.08139504,  0.62832369],
       ...,
       [-1.20951742, -2.28499865, -0.11524894, -1.35016939,  2.72022392],
       [-0.50924621, -0.03693705, -1.07263584,  0.11364866, -0.34921044],
       [ 0.62611608,  1.710467  ,  1.46138542,  0.30069208,  2.01117877]])

# Save the dataframe

In [21]:
train = pd.DataFrame(X_train)

train["output"] = list(y_train )

train

             0         1         2         3         4        output
0     0.345293 -0.843070  0.578201 -0.374291 -1.750539  9.958132e+05
1    -0.184668 -0.276508 -0.074561 -0.455614 -0.825117  8.735092e+05
2     0.928745 -1.772958  0.483191  1.081395  0.628324  1.360502e+06
3     2.004353 -0.151710  0.493976 -0.423085 -0.244201  1.742351e+06
4     0.964726 -0.511843  0.799734  0.113649 -0.861898  1.233220e+06
...        ...       ...       ...       ...       ...           ...
3745 -1.116236 -1.149488  0.576440 -0.545069 -1.077843  7.296417e+05
3746  0.203274  0.589662 -0.444430 -0.699584  1.554319  1.599479e+06
3747 -1.209517 -2.284999 -0.115249 -1.350169  2.720224  1.102641e+06
3748 -0.509246 -0.036937 -1.072636  0.113649 -0.349210  8.650995e+05
3749  0.626116  1.710467  1.461385  0.300692  2.011179  2.108376e+06

[3750 rows x 6 columns]

In [22]:
test = pd.DataFrame(X_test)

test["output"] = list(y_test )

test

                 0         1         2     3             4        output
0     66774.995817  5.717143  7.795215  4.32  36788.980327  1.251689e+06
1     62184.539375  4.925758  7.427689  6.22  26008.309124  8.730483e+05
2     73643.057298  6.766853  8.337085  3.34  43152.139577  1.696978e+06
3     61909.041438  6.228343  6.593138  4.29  28953.925377  1.063964e+06
4     72942.705059  4.786222  7.319886  6.41  24377.909049  9.487883e+05
...            ...       ...       ...   ...           ...           ...
1245  83443.263898  5.446504  8.360907  5.06  44900.793097  1.727211e+06
1246  89475.559699  6.888439  5.233514  2.40  31070.431830  1.707270e+06
1247  56265.974309  5.838423  7.894150  3.20  40493.063981  1.167450e+06
1248  64044.189620  4.581614  5.875689  4.10  32940.794782  7.241217e+05
1249  70520.272783  6.628298  6.146798  4.48  51639.306972  1.561234e+06

[1250 rows x 6 columns]

In [23]:
train.to_csv("/content/train.csv")

In [24]:
test.to_csv("/content/test.csv")